.block-ng-our-process .process-steps .process-block .icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid var(--theme-color-accent-default);
  background: var(--theme-color-base-medium);
}
.block-ng-our-process .process-steps .process-block .icon img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.block-tb-our-process {
  overflow: hidden;
}
.block-tb-our-process .proces-inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .block-tb-our-process .proces-inner {
    padding: 70px 0;
  }
}
.block-tb-our-process .proces-inner .company-process-image {
  position: relative;
  top: 0;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 1;
  border: 9px solid var(--theme-color-accent-muted);
  max-height: 580px;
  width: clamp(580px, 50vw, 694px);
}
@media screen and (min-width: 767px) {
  .block-tb-our-process .proces-inner .company-process-image {
    position: absolute;
  }
}
@media screen and (min-width: 992px) {
  .block-tb-our-process .proces-inner .company-process-image {
    border: 14px solid var(--theme-color-accent-muted);
  }
}
@media screen and (min-width: 1200px) {
  .block-tb-our-process .proces-inner .company-process-image {
    max-height: 694px;
  }
}
.block-tb-our-process .proces-inner .form-wrapper {
  max-width: 420px;
  margin-top: -200px;
}
@media screen and (min-width: 767px) {
  .block-tb-our-process .proces-inner .form-wrapper {
    margin-top: 0;
  }
}
.block-tb-our-process .proces-inner .process-right-block {
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .block-tb-our-process .proces-inner .process-right-block {
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .block-tb-our-process .proces-inner .process-right-block {
    margin-top: 0;
  }
}
.block-tb-our-process .proces-inner .process-right-block .procces-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}
.block-tb-our-process .proces-inner .process-right-block .procces-block .process-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.block-tb-our-process .proces-inner .process-right-block .procces-block .process-block-item .icon img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
.block-tb-our-process.right-process .proces-inner .company-process-image {
  right: 60px;
}
@media screen and (min-width: 767px) {
  .block-tb-our-process.right-process .proces-inner .company-process-image {
    left: -90px;
  }
}
.block-tb-our-process.right-process .proces-inner .form-wrapper {
  margin-left: auto;
}
@media screen and (min-width: 992px) {
  .block-tb-our-process.right-process .proces-inner .process-right-block {
    margin-left: 30px;
  }
}
.block-tb-our-process.left-process .proces-inner .company-process-image {
  right: 60px;
}
@media screen and (min-width: 767px) {
  .block-tb-our-process.left-process .proces-inner .company-process-image {
    right: -90px;
  }
}
.block-tb-our-process.left-process .proces-inner .form-wrapper {
  margin-right: auto;
}
.block-tb-our-process.left-process .proces-inner .process-right-block {
  margin-right: 30px;
  margin-left: auto;
}
.block-tb-our-process.left-process .proces-inner .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 992px) {
  .block-tb-our-process.left-process .proces-inner .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.block-tb-our-process.process-tb-square .proces-inner .company-process-image {
  border-radius: 16px;
}
.block-tb-our-process.process-tb-circle .proces-inner .company-process-image {
  border-radius: 100%;
}/*# sourceMappingURL=tb-our-process.css.map */