.block-tb-hero-contact {
    .contact-inner {
        position: relative;
        .overlay {
            aspect-ratio: 2.88;
            width: 100%;
            &:before {
                background: linear-gradient(0deg, rgba(31, 75, 153, 0.75) 0%, rgba(31, 75, 153, 0.75) 100%);
            }
        }
    }
    .hero-content {
        padding: 96px 0px 252px;
        color: var(--theme-color-contrast-light);
        .contact-content {
            row-gap: 36px;
        }

    }
    .contact-bottom-items {
        margin-top: -150px;
    }
    .contact-footer-links {
        max-width: 1095px;
        margin: auto;
        margin-top: 64px;
        .row {
            row-gap: 30px;
        }
        .info_block {
            padding: 48px 25px;
            background: var(--theme-color-base-medium);
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            align-items: center;
            @media screen and (min-width: 1200px) {
                min-width: unset;
                padding: 48px 50px;
            }
            p {
                justify-content: center;
                column-gap: 10px;
                color: var(--theme-color-accent-emphasis);
                margin: 0;
                img {
                    width: 10px;
                    height: 10px;
                    min-width: 10px;
                    min-height: 10px;
                    object-fit: contain;
                }
            }
            a {
                color: var(--theme-color-contrast-dark);
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.theme-corner-round, .theme-corner-pill {
    .block-tb-hero-contact {
        .contact-inner {
            .overlay {
                border-radius: 0px 0px 10px 10px;
                overflow: hidden;
            }
        }
    }
}