.hero--main {
  overflow: hidden;
}
.hero--main.disaply-form:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  background: var(--theme-color-contrast-light);
  bottom: 0;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .hero--main.disaply-form:after {
    height: 40px;
  }
}
.hero--main.cta-link-disaply:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  background: var(--theme-color-contrast-light);
  bottom: 0;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .hero--main.cta-link-disaply:after {
    height: 40px;
  }
}
@media screen and (min-width: 992px) {
  .hero--main.cta-link-disaply .hero-main-inner .hero-content {
    padding: 96px 0 170px;
  }
}
.hero--main:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 100%;
  left: 0;
  top: 0;
  mix-blend-mode: color-burn;
}
@media screen and (min-width: 1921px) {
  .hero--main:before {
    background-size: auto 100%;
  }
}
.hero--main .hero-main-inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.hero--main .hero-main-inner .hero-content {
  row-gap: 36px;
  padding: 50px 0 0px;
}
@media screen and (min-width: 992px) {
  .hero--main .hero-main-inner .hero-content {
    padding: 96px 0 96px;
  }
}
.hero--main .hero-main-inner .hero-content .highlights .highlights__item {
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.hero--main .hero-main-inner .hero-content .highlights .highlights__item i {
  color: var(--theme-color-accent-muted);
}
.hero--main .hero-main-inner .hero-content .highlights, .hero--main .hero-main-inner .hero-content .social-rating {
  margin-top: 8px;
}
.hero--main .hero-main-inner .hero-content .social-rating img {
  width: 70px;
  height: 13px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.hero--main .hero-main-inner .hero-img {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  width: calc(100% + 100px);
}
.hero--main .hero-main-inner .hero-img img {
  aspect-ratio: 1.3381;
  min-height: 220px;
}
@media only screen and (min-width: 992px) {
  .hero--main .hero-main-inner .hero-img {
    position: absolute;
    width: min(50vw + 250px, 930px);
    max-height: 930px;
    z-index: 0;
    aspect-ratio: 1;
  }
  .hero--main .hero-main-inner .hero-img img {
    aspect-ratio: auto;
    min-height: auto;
  }
}
.hero--main .form-wrapper {
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  z-index: 51;
  position: relative;
  margin-top: -140px;
}
@media only screen and (min-width: 992px) {
  .hero--main .form-wrapper {
    margin-top: 0;
  }
}
.hero--main .form-wrapper h3 {
  padding: 36px;
  margin-bottom: 0;
  background: var(--theme-color-base-dark);
  color: var(--theme-color-base-light);
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps {
  padding: 0px 36px 36px 36px;
  background: var(--theme-color-base-dark);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1px;
  margin-bottom: 0;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media screen and (min-width: 1199px) {
  .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps {
    -webkit-column-gap: 75px;
       -moz-column-gap: 75px;
            column-gap: 75px;
  }
}
@media screen and (min-width: 1399px) {
  .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps {
    -webkit-column-gap: 115px;
       -moz-column-gap: 115px;
            column-gap: 115px;
  }
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step {
  padding: 2px;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step .gf_step_label {
  display: none;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step .gf_step_number {
  color: var(--theme-color-contrast-dark);
  background: var(--theme-color-contrast-light);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_active {
  border: 1px solid var(--theme-color-accent-muted);
  border-radius: 100%;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_active .gf_step_number {
  background: var(--theme-color-accent-muted);
  color: var(--theme-color-contrast-light);
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_active .gf_step_number:after {
  content: none !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_completed {
  border: 1px solid var(--theme-color-accent-muted);
  border-radius: 100%;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_completed .gf_step_number {
  background: var(--theme-color-accent-muted);
  color: var(--theme-color-contrast-light);
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_completed .gf_step_number:after {
  content: none !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step.gf_step_completed:before {
  background: var(--theme-color-accent-muted) !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step:not(:last-child) {
  position: relative;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step:not(:last-child):before {
  position: absolute;
  content: "";
  width: 55px;
  height: 4px;
  background: var(--theme-color-contrast-light);
  top: 0;
  bottom: 0;
  left: 100%;
  margin: auto;
}
@media screen and (min-width: 1199px) {
  .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step:not(:last-child):before {
    left: 99%;
    width: 80px;
  }
}
@media screen and (min-width: 1399px) {
  .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gf_page_steps .gf_step:not(:last-child):before {
    width: 130px;
  }
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-body {
  padding: 36px;
  background-color: var(--theme-color-base-light);
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-body .gfield--type-html {
  font-size: 18px;
  text-align: center;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .gform_next_button:is(:hover, :focus, :active), .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .form__button:is(:hover, :focus, :active) {
  outline: none !important;
  border: 0 !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .gform_next_button:after, .hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .form__button:after {
  content: "\f061" !important;
  font-family: fontawesome !important;
  font-size: 12px !important;
  margin-left: 8px !important;
  color: inherit !important;
  display: block !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .gform_previous_button {
  color: var(--theme-color-accent-default);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .gform_previous_button:is(:hover, :focus, :active) {
  outline: none !important;
  border: 0 !important;
}
.hero--main .form-wrapper .gform-theme.gform-theme--framework.gform_wrapper .gform-page-footer .gform_previous_button:before {
  content: "\f061" !important;
  font-family: fontawesome !important;
  font-size: 12px !important;
  margin-right: 5px !important;
  color: inherit !important;
  margin-top: 0 !important;
  color: var(--theme-color-accent-default) !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hero--main .cta-link-items {
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: -70px;
}
@media screen and (min-width: 768px) {
  .hero--main .cta-link-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .hero--main .cta-link-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.hero--main .cta-link-items .cta-link-box a {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 36px 24px;
  display: block;
}
.hero--main .cta-link-items .cta-link-box a .cta-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.hero--main .cta-link-items .cta-link-box a .cta-item .cta-item-img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: var(--theme-color-base-medium);
  border-radius: 100%;
  overflow: hidden;
}
.hero--main .cta-link-items .cta-link-box a .cta-item .cta-item-img img {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-height: 24px;
  max-height: 24px;
  max-height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.hero--main .cta-link-items .cta-link-box a .cta-item .cta-item-text h4 {
  color: var(--theme-color-contrast-dark);
}
.hero--main .cta-link-items .cta-link-box:first-child a {
  background: var(--theme-color-accent-muted);
}
.hero--main .cta-link-items .cta-link-box:first-child a .cta-item .cta-item-img {
  border: 3px solid var(--theme-color-base-dark);
}
.hero--main .cta-link-items .cta-link-box:nth-child(2) a {
  background: var(--theme-color-base-light);
}
.hero--main .cta-link-items .cta-link-box:nth-child(2) a .cta-item .cta-item-img {
  border: 3px solid var(--theme-color-accent-emphasis);
}
.hero--main .cta-link-items .cta-link-box:nth-child(3) a {
  background: var(--theme-color-accent-emphasis);
}
.hero--main .cta-link-items .cta-link-box:nth-child(3) a .cta-item .cta-item-img {
  border: 3px solid var(--theme-color-accent-muted);
}
.hero--main .cta-link-items .cta-link-box:nth-child(3) a .cta-item .cta-item-text h4 {
  color: var(--theme-color-base-light);
}
.hero--main.main-tb-circle .hero-main-inner .hero-img {
  border: 8px solid var(--theme-color-accent-muted);
  -webkit-box-shadow: 0 2.416px 7.247px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.416px 7.247px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}
@media screen and (min-width: 992px) {
  .hero--main.main-tb-circle .hero-main-inner .hero-img {
    top: 27px;
    right: -172px;
    border: 18px solid var(--theme-color-accent-muted);
  }
}
.hero--main.main-tb-square .hero-main-inner .hero-img {
  border: 10px solid var(--theme-color-accent-muted);
  max-width: 705px;
  max-height: 680px;
  border-radius: 16px 16px 0px 0px;
}
@media screen and (min-width: 992px) {
  .hero--main.main-tb-square .hero-main-inner .hero-img {
    top: 60px;
    right: -15px;
  }
}

.theme-corner-sharp .hero--main .cta-link-items .cta-link-box a {
  border-radius: 0px;
}

.theme-corner-round .hero--main .cta-link-items .cta-link-box a {
  border-radius: 10px;
}
.theme-corner-round .hero--main .form-wrapper {
  border-radius: 10px;
}

.theme-corner-pill .hero--main .cta-link-items .cta-link-box a {
  border-radius: 10px;
}
.theme-corner-pill .hero--main .form-wrapper {
  border-radius: 16px;
}

.hero--main.bg-bas-dar:before {
  opacity: 0.3;
  background-image: var(--main-hero-texture-dark);
}

.hero--main.bg-bas-lig::before {
  mix-blend-mode: unset;
  opacity: 0.1;
  background-image: var(--main-hero-texture-light);
}

.hero--main.bg-bas-mid::before {
  opacity: 0.1;
  background-image: var(--main-hero-texture-dark);
}/*# sourceMappingURL=tb-hero-main.css.map */